In [1]:
import pandas as pd
import json
from sqlalchemy import create_engine
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect

In [2]:
wine_csv = "data/Wines.csv"
wine_df = pd.read_csv(wine_csv, encoding = 'ISO-8859-1')

In [3]:
wine_df.head()

,Vintage,Country,County,Designation,Points,Price,Province,Title,Variety,Winery
0,1/1/2014,France,Pomerol,NaN,96,"$2,500.00",Bordeaux,Château Pétrus 2014 Pomerol,Bordeaux-style Red Blend,Château Pétrus
1,1/1/2010,France,Saint-Émilion,NaN,100,"$1,500.00",Bordeaux,Château Cheval Blanc 2010 Saint-Émilion,Bordeaux-style Red Blend,Château Cheval Blanc
2,1/1/2009,Australia,Eden Valley,Hill of Grace,91,$780.00,South Australia,Henschke 2009 Hill of Grace Shiraz (Eden Valley),Shiraz,Henschke
3,1/1/2015,Germany,NaN,Kiedrich Gräfenberg Trockenbeerenauslese,98,$775.00,Rheingau,Robert Weil 2015 Kiedrich Gräfenberg Trockenbe...,Riesling,Robert Weil
4,1/1/2012,Spain,Priorat,El Perer,96,$770.00,Catalonia,Marco Abella 2012 El Perer Carignan (Priorat),Carignan,Marco Abella

In [4]:
drop = wine_df.dropna()

In [4]:
engine = create_engine(f'sqlite:///wine_db.sqlite')

In [7]:
Base = automap_base()

Base.prepare(engine, reflect=True)

In [8]:
Base.classes.keys()

[]