In [4]:
import pandas as pd
import json
from sqlalchemy import create_engine

In [5]:
wine_csv = "data/Wines.csv"
wine_df = pd.read_csv(wine_csv, encoding = 'ISO-8859-1')

In [6]:
wine_df['Year'] = pd.DatetimeIndex(wine_df['Vintage']).year
wine_df.head()

,Vintage,Country,County,Designation,Points,Price,Province,Title,Variety,Winery,Year
0,1/1/2014,France,Pomerol,NaN,96,"$2,500.00",Bordeaux,Château Pétrus 2014 Pomerol,Bordeaux-style Red Blend,Château Pétrus,2014
1,1/1/2010,France,Saint-Émilion,NaN,100,"$1,500.00",Bordeaux,Château Cheval Blanc 2010 Saint-Émilion,Bordeaux-style Red Blend,Château Cheval Blanc,2010
2,1/1/2009,Australia,Eden Valley,Hill of Grace,91,$780.00,South Australia,Henschke 2009 Hill of Grace Shiraz (Eden Valley),Shiraz,Henschke,2009
3,1/1/2015,Germany,NaN,Kiedrich Gräfenberg Trockenbeerenauslese,98,$775.00,Rheingau,Robert Weil 2015 Kiedrich Gräfenberg Trockenbe...,Riesling,Robert Weil,2015
4,1/1/2012,Spain,Priorat,El Perer,96,$770.00,Catalonia,Marco Abella 2012 El Perer Carignan (Priorat),Carignan,Marco Abella,2012

In [7]:
red_csv = "Red.csv"
redwine_df = pd.read_csv(red_csv)

FileNotFoundError: [Errno 2] No such file or directory: 'Red.csv'

In [7]:
redwine = pd.DataFrame(redwine_df)

In [8]:
rose_csv = "Rose.csv"
rosewine_df = pd.read_csv(rose_csv)

In [9]:
test = rosewine_df.dropna()
test.count()

Name               397
Country            397
Region             397
Winery             397
Rating             397
NumberOfRatings    397
Price              397
Year               397
dtype: int64

In [24]:
from secrets import pw

In [25]:
engine = create_engine(f'sqlite:///wine_db.sqlite')

In [26]:
engine.table_names()

[]

In [16]:
wine_df.to_sql(name='wines', con=engine, if_exists='append', index=False)

In [28]:
wine_df.count()

Vintage        24997
Country        24989
County         20809
Designation    17633
Points         24997
 Price         23375
Province       24989
Title          24997
Variety        24997
Winery         24997
Year           24997
dtype: int64

In [29]:
wine_drop = wine_df.dropna()
wine_drop.count()

Vintage        13319
Country        13319
County         13319
Designation    13319
Points         13319
 Price         13319
Province       13319
Title          13319
Variety        13319
Winery         13319
Year           13319
dtype: int64

In [30]:
wine_drop.to_sql(name='wines_clean', con=engine, if_exists='append', index=False)

In [11]:
wine_df.count(
)

Vintage        24997
Country        24989
County         20809
Designation    17633
Points         24997
 Price         23375
Province       24989
Title          24997
Variety        24997
Winery         24997
Year           24997
dtype: int64

In [12]:
wine_new = wine_df.dropna()

In [13]:
wine_new.head()

,Vintage,Country,County,Designation,Points,Price,Province,Title,Variety,Winery,Year
2,1/1/2009,Australia,Eden Valley,Hill of Grace,91,$780.00,South Australia,Henschke 2009 Hill of Grace Shiraz (Eden Valley),Shiraz,Henschke,2009
4,1/1/2012,Spain,Priorat,El Perer,96,$770.00,Catalonia,Marco Abella 2012 El Perer Carignan (Priorat),Carignan,Marco Abella,2012
11,1/1/2014,France,Montrachet,Le Montrachet,96,$630.00,Burgundy,Louis Latour 2014 Le Montrachet (Montrachet),Chardonnay,Louis Latour,2014
12,1/1/2009,US,Napa Valley,Family Reserve,97,$625.00,California,Yao Ming 2009 Family Reserve Cabernet Sauvigno...,Cabernet Sauvignon,Yao Ming,2009
13,1/1/2008,Italy,Barolo,Cà d'Morissio Riserva,99,$595.00,Piedmont,Mascarello Giuseppe e Figlio 2008 Cà d'Morissi...,Nebbiolo,Mascarello Giuseppe e Figlio,2008

In [14]:
country = pd.dataframe = ['Title','Country','Variety','Points','Price']

ValueError: Length mismatch: Expected axis has 11 elements, new values have 5 elements