In [1]:
import pandas as pd
import json
from sqlalchemy import create_engine
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect

In [2]:
wine_csv = "data/Wines.csv"
wine_df = pd.read_csv(wine_csv, encoding = 'ISO-8859-1')

In [3]:
wine_df.head()

,Vintage,Country,County,Designation,Points,Price,Province,Title,Variety,Winery
0,1/1/2014,France,Pomerol,NaN,96,"$2,500.00",Bordeaux,Château Pétrus 2014 Pomerol,Bordeaux-style Red Blend,Château Pétrus
1,1/1/2010,France,Saint-Émilion,NaN,100,"$1,500.00",Bordeaux,Château Cheval Blanc 2010 Saint-Émilion,Bordeaux-style Red Blend,Château Cheval Blanc
2,1/1/2009,Australia,Eden Valley,Hill of Grace,91,$780.00,South Australia,Henschke 2009 Hill of Grace Shiraz (Eden Valley),Shiraz,Henschke
3,1/1/2015,Germany,NaN,Kiedrich Gräfenberg Trockenbeerenauslese,98,$775.00,Rheingau,Robert Weil 2015 Kiedrich Gräfenberg Trockenbe...,Riesling,Robert Weil
4,1/1/2012,Spain,Priorat,El Perer,96,$770.00,Catalonia,Marco Abella 2012 El Perer Carignan (Priorat),Carignan,Marco Abella

In [8]:
drop = wine_df.dropna()
drop.count()

Vintage        13319
Country        13319
County         13319
Designation    13319
Points         13319
 Price         13319
Province       13319
Title          13319
Variety        13319
Winery         13319
dtype: int64

In [32]:
drop.describe()

             Points
count  13319.000000
mean      88.852541
std        3.057004
min       80.000000
25%       87.000000
50%       89.000000
75%       91.000000
max      100.000000

In [30]:
variety = drop.groupby('Variety').mean()
variety.head()

              Points
Variety
Aglianico  89.756098
Albana     89.142857
Albariño   88.458333
Aleatico   89.000000
Alicante   87.000000

In [33]:
drop['Variety'].unique()

array(['Shiraz', 'Carignan', 'Chardonnay', 'Cabernet Sauvignon',
       'Nebbiolo', 'Champagne Blend', 'Pinot Noir',
       'Bordeaux-style Red Blend', 'White Blend', 'Red Blend',
       'Tempranillo', 'Syrah', 'Garnacha', 'Merlot', 'Sangiovese Grosso',
       'Tempranillo Blend', 'Tinta de Toro', 'Shiraz-Viognier', 'Malbec',
       'Sangiovese', 'Sparkling Blend', 'Corvina, Rondinella, Molinara',
       'Gewürztraminer', 'Grenache', 'Cabernet Franc', 'Tinto Fino',
       'Bordeaux-style White Blend', 'Rhône-style White Blend',
       'Malbec-Cabernet Sauvignon', 'Tannat', 'Vermentino', 'Rosé',
       'Pinot Nero', 'Rhône-style Red Blend', 'Viognier',
       'Cabernet Sauvignon-Malbec', 'Graciano', 'Ribolla Gialla',
       'Petite Sirah', 'Pinot Gris', 'Chenin Blanc', 'Riesling',
       'Barbera', 'Malbec-Cabernet Franc', 'Mencía', 'Sauvignon Blanc',
       'Sagrantino', 'Alsace white blend', 'Merlot-Cabernet Sauvignon',
       'Petit Verdot', 'Malbec Blend', 'Cabernet Sauvignon-Merlot',
       'Mazuelo', "Nero d'Avola", 'Mourvèdre', 'Cabernet Blend',
       'Aglianico', 'Picolit', 'Moscato', 'Corvina',
       'Sauvignon Blanc-Semillon', 'Syrah-Cabernet Sauvignon', 'Vitovska',
       'Gamay', 'Pinot Noir-Syrah', 'Nerello Mascalese', 'Raboso',
       'Vidal Blanc', 'Syrah-Viognier', 'Pinot Blanc', 'Zinfandel',
       'Moscatel', 'Shiraz-Cabernet', 'Cabernet Sauvignon-Cabernet Franc',
       'Fumé Blanc', 'Port', 'Tocai Friulano', 'Nero di Troia',
       'Roussanne', 'Prugnolo Gentile', 'Savagnin', 'Montepulciano',
       'Syrah-Cabernet Franc', 'Sémillon', 'Malvasia', 'Shiraz-Grenache',
       'Sauvignon', 'Provence red blend', 'Meritage',
       'Cabernet Sauvignon-Syrah', 'G-S-M', 'Godello', 'Zibibbo', 'Greco',
       'Albariño', 'Marsanne', 'Trebbiano', 'Lagrein', 'Verdicchio',
       'Pallagrello Nero', 'Grenache-Syrah', 'Syrah-Mourvèdre',
       'Aleatico', 'Tempranillo-Cabernet Sauvignon', 'Pinot Grigio',
       'Carmenère', 'Glera', 'Tinta del Pais', 'Sangiovese-Syrah',
       'Vidal', 'Petit Manseng', 'Shiraz-Cabernet Sauvignon', 'Albana',
       'Cabernet Franc-Merlot', 'Cannonau', 'Pugnitello', 'Turbiana',
       'Muscat', 'Provence white blend', 'Merlot-Cabernet Franc',
       'Pinot Auxerrois', 'Tinta Madeira', 'Cortese',
       'Garnacha Tintorera', 'Friulano', 'Garganega', 'Fiano',
       'Cabernet Sauvignon-Sangiovese', 'Carricante', 'Primitivo',
       'Uva di Troia', 'Durella', 'Grenache Noir', 'Verdejo',
       'Müller-Thurgau', 'Blanc du Bois', 'Cabernet', 'Pinot Bianco',
       'Tempranillo Blanco', 'Arneis', 'Carignan-Grenache',
       'Cabernet-Syrah', 'Tannat-Cabernet', 'Cabernet Sauvignon-Shiraz',
       'Pinotage', 'Petite Verdot', 'Trousseau', 'Ruché',
       'Gros and Petit Manseng', 'Prieto Picudo', 'Macabeo',
       'Centesimino', 'Grenache Blanc', 'Verduzzo Friulano',
       'Touriga Nacional', 'Zweigelt', 'Pinot Noir-Gamay', 'Rufete',
       'Marsanne-Viognier', 'Carineña', 'Carignane', 'Dolcetto',
       'Cinsault', 'Norton', 'Nosiola', 'Baco Noir', 'Sylvaner',
       'Negroamaro', 'Viura', 'Grenache-Carignan', 'Frappato',
       'Vernaccia', 'Tocai', 'Falanghina', 'Grüner Veltliner',
       'Auxerrois', 'Charbono', 'Sangiovese Cabernet',
       'Semillon-Sauvignon Blanc', 'Pallagrello', 'Torrontés',
       'Muscat Canelli', "Loin de l'Oeil", 'Monastrell', 'Grillo',
       'Bovale', 'Lambrusco di Sorbara', 'Saperavi', 'Barbera-Nebbiolo',
       'Prosecco', 'Teroldego', 'Mantonico', 'Melon', 'Malvasia Bianca',
       'Rosato', 'Cabernet Merlot', 'Picpoul', 'Pinot-Chardonnay',
       'Rkatsiteli', 'Syrah-Grenache', 'Malbec-Merlot', 'Coda di Volpe',
       'Counoise', 'Muscadelle', 'Tinta Fina', 'Kerner', 'Negrette',
       'Bonarda', 'Pecorino', 'Claret', 'Magliocco', 'Grenache-Mourvèdre',
       'Passerina', 'Tinto del Pais', 'Schiava', 'Gamay Noir',
       'Roussanne-Viognier', 'Syrah-Cabernet', 'Chasselas', 'Inzolia',
       'Carignano', 'Insolia', "Cesanese d'Affile", 'Pedro Ximénez',
       'Rosado', 'Colombard', 'Xarel-lo', 'Muscat Blanc', 'Romorantin',
       'Cabernet Sauvignon-Merlot-Shiraz', 'Pinot Gris-Gewürztraminer',
       'Moscato Giallo', 'Pinot Meunier', 'Orange Muscat', 'Chambourcin',
       'Maturana', 'Tempranillo-Merlot', 'Grechetto', 'Edelzwicker',
       'Lambrusco', 'Mission', 'Fer Servadou', 'Perricone',
       'Lambrusco Grasparossa', 'Chardonnay-Semillon',
       'Cabernet Sauvignon-Tempranillo', 'Piedirosso', 'Sauvignon Musqué',
       'Garnacha-Tempranillo', 'Garnacha Blanca', 'Jacquère',
       'Chardonnay-Sauvignon Blanc', 'Touriga Nacional Blend',
       'Garnacha-Monastrell', 'Merlot-Malbec', 'Altesse',
       'Viognier-Gewürztraminer', 'Treixadura', 'Lemberger', 'Verdeca',
       'Tempranillo-Garnacha', 'Catarratto', 'Verdelho',
       'Tempranillo-Shiraz', 'Semillon-Chardonnay', 'Sherry',
       'Tannat-Cabernet Franc', 'Pansa Blanca', 'Malvasia Nera',
       'Manzoni', 'Aligoté', 'Viura-Chardonnay', 'Bobal', 'Seyval Blanc',
       'Marselan', 'Garnacha-Syrah', 'Gaglioppo', 'Monastrell-Syrah',
       'Macabeo-Chardonnay', 'Grenache-Shiraz', 'Gewürztraminer-Riesling',
       'Ugni Blanc-Colombard', 'Colombard-Ugni Blanc', 'Verdejo-Viura',
       'Diamond', 'Chardonnay-Viognier', 'Colombard-Sauvignon Blanc',
       'Alicante', 'Malvasia-Viura', 'Tannat-Merlot', 'White Riesling',
       'Grenache Blend', 'Johannisberg Riesling', 'Merlot-Cabernet',
       'Symphony', 'Malbec-Tempranillo', 'Malbec-Syrah'], dtype=object)

In [35]:
Country = drop.groupby('Country')
Country.count()

,Vintage,County,Designation,Points,Price,Province,Title,Variety,Winery
Country,,,,,,,,,
Argentina,563,563,563,563,563,563,563,563,563
Australia,315,315,315,315,315,315,315,315,315
Canada,34,34,34,34,34,34,34,34,34
France,2120,2120,2120,2120,2120,2120,2120,2120,2120
Italy,2234,2234,2234,2234,2234,2234,2234,2234,2234
Spain,974,974,974,974,974,974,974,974,974
US,7079,7079,7079,7079,7079,7079,7079,7079,7079

In [29]:
drop.mean()

Points    88.852541
dtype: float64